* {
    box-sizing: border-box;
}
body {
    background-color: beige;
    margin: 0;
}

h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
.projekt {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    flex-wrap: wrap;
}

footer {
    background-color: #777;
    padding: 15px;
    text-align: center;
    color: white;
    position: relative;
}

footer img{
    height: 50px;
}


div p {
    text-align: center;
}

a:link {
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: space-between;
}

.smal-container {
    flex-basis: 29%;
    display: flex;
    flex-direction: column;
    border-radius: 50%;
}

.smallest-container {
    flex-basis: 5rem;
}

.page2 {
    height: 100vh;
    padding-top: 10vh;
}

.border {
    border-radius: 50%;
    box-shadow: 2px 2px 4px #000000;
    transition: transform .2s
}
.border:hover{
    transform: scale(1.2)
}


.page {
    height: 100vh;
    
}

.header-image {

    background-image: url("../image/Jag.jpg");


    filter: blur(8px);
    -webkit-filter: blur(8px);


    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.header-text {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    color: beige;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

